<div class="ymlp-subscribe-content">
  <div class="ymlp-subscribe-inner">
	{{ form.error_message }}
	{{ form.description }}
	{{ form.first_name }}
	{{ form.last_name }}
	{{ form.email }}
	{{ form.subscribe }}
	{{ form.unsubscribe }}
  </div>
</div>


{{ form.block_id }}
{{ form.form_build_id }}
{{ form.form_id }}
{{ form.form_token }}
{{ form.actions }}
